{% extends "root.html" %}

{% block title %}FSND Catalog{% endblock %}

{% block content %}

{% include "top_bar.html" %}
<div class="row">
    <div class="col-lg-3">
        <h2>Categories</h2>
        <div>
            <ul>
                {% for category in categories %}
                <li>
                    <a href="{{ url_for('show_category',category_id=category.id) }}">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <h2>Latest Items</h2>
        <div>
            <ul>
                {% for item in items %}
                <li>
                    <a href="{{ url_for('show_item', item_id=item.id) }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
