<div class="row">
    <div class="col-xs-12">
        <h1><a href="/">FSND Catalog</a></h1>
    </div>
</div>
<div class="row">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="list-group">
            {% for message in messages %}
            <li class="list-group-item">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
<div class="row">
    <div class="col-xs-12 col-md-9">
        {% if g.logged_in %}
        <a class="btn btn-link" href="{{ url_for('create_category') }}">New Category</a>
        <a class="btn btn-link" href="{{ url_for('create_item') }}">New Item</a>
        {% endif %}
    </div>
    <div class="col-xs-12 col-md-3">
        {% if g.logged_in %}
        <a href="/logout" class="btn btn-primary pull-right">Log out</a>
        {% else %}
        <a href="/login" class="btn btn-primary pull-right">Log in</a>
        {% endif %}
    </div>
</div>
<div class="row">
    <div></div>
</div>
